## api endpoint
https://api.wheretheiss.at/v1/satellites/25544

In [1]:
!ls

README.md     iss.gif       iss.ipynb     iss.py        iss_logs.json

In [2]:
import iss
iss.args

current = {'name': 'iss', 'id': 25544, 'latitude': 48.364885696508, 'longitude': 152.55338761331, 'altitude': 425.69228129253, 'velocity': 27578.915436897, 'visibility': 'eclipsed', 'footprint': 4536.3105936239, 'timestamp': 1646069971, 'daynum': 2459639.2357755, 'solar_lat': -7.774414482743, 'solar_lon': 278.24160244143, 'units': 'kilometers', 'miles_per_second': 4.760206546010362, 'converted_to_unit': 'Seconds'}
Mon Feb 28 17:39:31 2022

{'json_process': <function iss.json_process(iss_dict, did=None, home=None)>,
 'get_iss': <function iss.get_iss()>,
 'to_html': None,
 'did': 'satelite'}

In [3]:
data = iss.main(**iss.args)
df = iss.pd.DataFrame.from_dict(data).T
df[0:2]

current = {'name': 'iss', 'id': 25544, 'latitude': 48.458535328222, 'longitude': 152.89835456509, 'altitude': 425.69973715935, 'velocity': 27578.96195581, 'visibility': 'eclipsed', 'footprint': 4536.3482314207, 'timestamp': 1646069975, 'daynum': 2459639.2358218, 'solar_lat': -7.7743969322295, 'solar_lon': 278.22493351467, 'units': 'kilometers', 'miles_per_second': 4.76021457531937, 'converted_to_unit': 'Seconds'}
Mon Feb 28 17:39:35 2022

,name,id,latitude,longitude,altitude,velocity,visibility,footprint,timestamp,daynum,solar_lat,solar_lon,units,miles_per_second,converted_to_unit
Tue Feb 22 09:21:54 2022,iss,25544,-48.783506,-171.620073,435.640855,27535.768213,eclipsed,4586.196193,1645521714,2459632.890208,-10.137438,42.898561,kilometers,4.752759,Seconds
Tue Feb 22 09:21:55 2022,iss,25544,-48.761304,-171.53281,435.635157,27535.773158,eclipsed,4586.167807,1645521715,2459632.89022,-10.137434,42.894394,kilometers,4.75276,Seconds

In [4]:
import numpy as np
mps = df['miles_per_second'].values
outliers = abs(np.std(mps)*3)
above = mps.mean()+(outliers)
below = mps.mean()-(outliers)
above_idx = np.argwhere(mps<=above)
below_idx = np.argwhere(mps>=below)
above = mps[above_idx]
below = mps[below_idx]
len(np.intersect1d(above,below)),len(mps)

(91, 91)

In [5]:
fid = 'iss_logs.json'
shell = f'scp username@yourdomain.com:~/somedirecotry/{fid} {fid}'
df = iss.run_process(command=shell, fid=fid)
df[20:25]

,name,id,latitude,longitude,altitude,velocity,visibility,footprint,timestamp,daynum,solar_lat,solar_lon,units,miles_per_second,converted_to_unit
Sat Feb 19 09:30:22 2022,iss,25544,-8.486955,-27.228632,416.696715,27587.915735,daylight,4490.619504,1645291822,2459630.229421,-11.098951,280.85777,kilometers,4.76176,Seconds
Sat Feb 19 09:35:09 2022,iss,25544,-22.712344,-15.956096,421.77408,27573.31145,daylight,4516.478192,1645292109,2459630.232743,-11.097763,279.661854,kilometers,4.759239,Seconds
Sat Feb 19 09:35:18 2022,iss,25544,-23.144033,-15.569478,421.958338,27572.818855,daylight,4517.413218,1645292118,2459630.232847,-11.097726,279.624351,kilometers,4.759154,Seconds
Sat Feb 19 10:00:03 2022,iss,25544,-39.725458,97.644935,433.597945,27537.608669,eclipsed,4576.006646,1645293603,2459630.250035,-11.091578,273.436423,kilometers,4.753077,Seconds
Sat Feb 19 11:00:03 2022,iss,25544,1.186835,-57.69728,414.529066,27595.704026,daylight,4479.524412,1645297203,2459630.291701,-11.076671,258.43538,kilometers,4.763104,Seconds

![](iss.gif)

# visualizing: (earth view)

[earth heat map plotly](https://chart-studio.plotly.com/~empet/14813.embed)

[axial tilt](https://en.wikipedia.org/wiki/Axial_tilt)

[eliptical cooridnate system](https://en.wikipedia.org/wiki/Ecliptic_coordinate_system)

[geopandas](https://geopandas.org/en/stable/docs/user_guide/mapping.html#choropleth-maps)

[shapes](https://shapely.readthedocs.io/en/stable/manual.html)

[Orbital velocity](https://youtu.be/nxD7koHdQhM)

## Standards
[Open Geospatial Consortium](https://www.ogc.org/standards/sfa)