## api endpoint
https://api.wheretheiss.at/v1/satellites/25544

In [1]:
!ls

README.md     iss.gif       iss.ipynb     iss.py        iss_logs.json

In [1]:
import iss
iss.args

current = {'name': 'iss', 'id': 25544, 'latitude': -34.890072210592, 'longitude': -84.542767241899, 'altitude': 425.65757116531, 'velocity': 27565.617993921, 'visibility': 'daylight', 'footprint': 4536.1353691741, 'timestamp': 1649333323, 'daynum': 2459677.0060532, 'solar_lat': 6.9325066860099, 'solar_lon': 358.35791122379, 'units': 'kilometers', 'miles_per_second': 4.757911366011555, 'converted_to_unit': 'Seconds'}
Thu Apr  7 13:08:43 2022

{'json_process': <function iss.json_process(iss_dict, did=None, home=None)>,
 'get_iss': <function iss.get_iss()>,
 'to_html': None,
 'did': 'satelite'}

In [2]:
data = iss.main(**iss.args)
df = iss.pd.DataFrame.from_dict(data).T
df[0:2]

current = {'name': 'iss', 'id': 25544, 'latitude': -34.890072210592, 'longitude': -84.542767241899, 'altitude': 425.65757116531, 'velocity': 27565.617993921, 'visibility': 'daylight', 'footprint': 4536.1353691741, 'timestamp': 1649333323, 'daynum': 2459677.0060532, 'solar_lat': 6.9325066860099, 'solar_lon': 358.35791122379, 'units': 'kilometers', 'miles_per_second': 4.757911366011555, 'converted_to_unit': 'Seconds'}
Thu Apr  7 13:08:43 2022

,name,id,latitude,longitude,altitude,velocity,visibility,footprint,timestamp,daynum,solar_lat,solar_lon,units,miles_per_second,converted_to_unit
Tue Feb 22 09:21:54 2022,iss,25544,-48.783506,-171.620073,435.640855,27535.768213,eclipsed,4586.196193,1645521714,2459632.890208,-10.137438,42.898561,kilometers,4.752759,Seconds
Tue Feb 22 09:21:55 2022,iss,25544,-48.761304,-171.53281,435.635157,27535.773158,eclipsed,4586.167807,1645521715,2459632.89022,-10.137434,42.894394,kilometers,4.75276,Seconds

In [4]:
import numpy as np
mps = df['miles_per_second'].values
outliers = abs(np.std(mps)*3)
above = mps.mean()+(outliers)
below = mps.mean()-(outliers)
above_idx = np.argwhere(mps<=above)
below_idx = np.argwhere(mps>=below)
above = mps[above_idx]
below = mps[below_idx]
len(np.intersect1d(above,below)),len(mps)

(91, 91)

In [ ]:
fid = 'iss_logs.json'
shell = f'scp frida_app@app.desigley.space:~/satelite/{fid} {fid}'
df = iss.run_process(command=shell, fid=fid)
df

![](iss.gif)

# visualizing: (earth view)

[earth heat map plotly](https://chart-studio.plotly.com/~empet/14813.embed)

[axial tilt](https://en.wikipedia.org/wiki/Axial_tilt)

[eliptical cooridnate system](https://en.wikipedia.org/wiki/Ecliptic_coordinate_system)

[geopandas](https://geopandas.org/en/stable/docs/user_guide/mapping.html#choropleth-maps)

[shapes](https://shapely.readthedocs.io/en/stable/manual.html)

[Orbital velocity](https://youtu.be/nxD7koHdQhM)

## Standards
[Open Geospatial Consortium](https://www.ogc.org/standards/sfa)